<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
	Indexing taste.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Opentape</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		{% block css %}{% endblock %}
		<script type="text/javascript" src="static/jquery-1.2.6.min.js"></script>
		{% block javascript %}{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="banner">
					<h1><a href="/">OPENTAPES</a></h1> 
					<p>a free way to <strike>make and host your own web mixtape</strike> index mixtapes</p>
			</div>
			<div>
				<a href="/create">add your own!</a>
			</div>
			<div class="content">

				{% block content %}{% endblock %}
				
				
				
				<div class="section">
					Opentapes is not affiliated with <a href="http://opentape.fm">Opentape</a> and is not affiliated with <a href="http://muxtape.com">Muxtape</a>
				</div>

    		</div>
		</div>
	</body>
</html>