{% extends "base.html" %}

{% block javascript %}
<script type="text/javascript">
	$(function() {
		$("#livesearch").focus(function() {
			if ($(this).val() == "Live Search") $(this).val("");
		})

		$("#livesearch").keyup(function() {
			sendQuery($(this).val());		
		})
	})

	function sendQuery(key) {
		if(key=="") return;

		$.getJSON("/api/query/", {song: key}, onQuery);
	}

	function onQuery(data) {
		str = ""
		for(var i=0;i<data.length;i++) {
			li_class = (i%2 == 0)?"even":"odd";
			str += '<li class="' + li_class + '"><p>' + data[i].title + '</p><a href="' + data[i].info + '" class="goto_opentape">GO TO OPENTAPE</a><div class="clear"><!----></div></li>'
		}
		
		$("#songs_list").html(str);

	}
</script>
{% endblock %}

{% block content %}
	<a href="/create" class="add_button">add your own!</a>
	<div class="clear"><!----></div>
	<form id="search" action="/search/" method="post" autocomplete="off">
		<input type="text" name="search" id="livesearch" value="Live Search" />
	</form>
	<div id="live_search"><ul id="songs_list"></ul></div>
{% endblock %}
